<ion-header>

    <ion-navbar hideBackButton="true" text-center>
      <ion-title>Tasks</ion-title>
    </ion-navbar>
  
  </ion-header>


<ion-content padding>

    <div class="task" *ngFor = "let item of task" (click)="questionsPage(item.taskName,item.timer,item.timerType)" >

        <div class="head" *ngIf=" item.timer && item.timerType != ''" text-center>
               Time to complete {{item.taskName}} : {{item.timer}} {{item.timerType}}
        </div>
        <div class="task-name" *ngIf=" item.taskName != ''" text-center>
                <p id ="taskName" >{{item.taskName}}</p>
        </div>

    </div>

  
</ion-content>
