page-task {

    
    
    .head{
        border: 1px solid #2F4F4F;
        height: 2em;
        background-color: white;
        color: black;
        text-align: center;
        margin-top: 10px;
    }
    .task-name{
        border: 1px solid ;
        height: 5em;
        text-align: center;
        background-color: white;
    }
    #taskName{
        font-size: 1.7em;
    }
    
}
